@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
// Add:
$custom-spacing-unit: 10px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: center !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.sualab-logo-div {
  float: left;
  margin-right: 10px;
}

.sualab-logo-img {
  height: 50px;
}

.feed-logo-div {
  float: right;
  margin-top: 10px;
}

.feed-logo-img {
  height: 35px;
}

.full-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $custom-spacing-unit;
  margin-bottom: $custom-spacing-unit;
  display: block;
  }

.large-image {
  @extend .full-image;
  max-width: 70%;
}

.medium-image {
  @extend .full-image;
  max-width: 50%;
}

.small-image {
  @extend .full-image;
  max-width: 30%;
}

.full-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: $custom-spacing-unit;
  margin-bottom: $custom-spacing-unit;
  display: table;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-dark;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($custom-spacing-unit / 3) ($custom-spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-dark, 4%);
    border-bottom-color: darken($grey-color-dark, 12%);
  }
  td {
    border: 1px solid $grey-color-dark;
  }
}

.large-table {
  @extend .full-table;
  max-width: 50%;
}

.medium-table {
  @extend .full-table;
  max-width: 50%;
}

.small-table {
  @extend .full-table;
  max-width: 30%;
}

.caption {
  color: $grey-color;
  margin-top: $custom-spacing-unit;
  margin-bottom: $custom-spacing-unit;
  display: block;
  text-align: center;
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.8000);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
