---
layout: default
---
<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.categories.size > 0 %} • 
        {% for category in page.categories %}
          <span itemprop="category" itemscope itemtype="http://schema.org/Category"><a href="/{{ category }}.html">{{ category }}</a>{% if forloop.last == false %}, {% endif %}</span>
        {% endfor %}
      {% endif %}
      {% if author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ author.web }}" target="_blank">{{ author.name }}</a></span></span>
      {% endif %}
      {% if page.tags.size > 0 %}
         <br>Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | join: ", " }}
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
